.naga {
    background-color: brown;
}

.mercy {
    background-color: chocolate;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.nm {
    text-align: center;
}

.nm {
    text-align: center;
}
.tn{
    text-align: center;
}
.nm{
    list-style: none;
}
ol{
    list-style: none;
}